@model IEnumerable<NSPecor.Models.MUB_TIPO_CP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listado de Tipos Centro Poblados</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM_TIPO_CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABR_TIPO_CP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_TIPO_CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABR_TIPO_CP)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_TIPO_CP }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_TIPO_CP }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID_TIPO_CP })
        </td>
    </tr>
}

</table>
